body {
    position: relative;
    min-height: 100vh;
}

nav .brand-logo {
    padding-left: 24px;
    font-weight: 300;
}

.brand-logo>.material-icons {
    float: unset !important;
    display: inline;
}

form {
    position: relative;
    overflow: hidden;
}

.username {
    font-family: monospace;
}

.code-title {
    text-align: center;
}

input.hidden-submit-button {
    position: absolute;
    right: -1000px;
    pointer-events: none;
}

input.input {
    color:inherit;
}

input.input.url-input {
    font-size: 24px;
    font-weight: 300;
}

body>.container {
    padding-bottom: 1rem;
}

ul.is-read {
    opacity: .7;
    filter: grayscale(80%);
}

.url-posted-by {
    font-size: 12px;
}

.card-image.col {
    padding: 0;
}

img.url-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

footer.page-footer {
    font-size: .8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}