<li class="card horizontal row">
    {{#imageUrl}}
        <div class="card-image col s4">
            <img
                    src="{{.}}"
                    onerror="this.onerror=null;this.src='./img/image-placeholder.png'"
                    class="url-image"
            />
        </div>
    {{/imageUrl}}
    <div class="card-stacked">
        <div class="card-content">
            <span class="blue-grey-text lighten-2 url-posted-by">
                {{userName}} | {{created}}
            </span>
            <span class="card-title">{{title}}</span>
            {{#description}}<p>{{.}}</p>{{/description}}
        </div>
        <div class="card-action">
            <a
                    href="{{url}}"
                    target="_blank"
                    data-action="read"
                    data-id="{{id}}"
            >{{shortUrl}}</a>
        </div>
    </div>
</li>
