{{#layout}}
<div class="container white">
    <h1 class="page-title orange-text accent-2">Droplet Sharing</h1>

    {{>droplet-form}}

    <ul class="section">
        {{#droplets}}
            {{>droplet-item}}
        {{/droplets}}
    </ul>
</div>
{{/layout}}
{{>layout}}