<section class="card blue-grey darken-4">
    <form action="/" method="post" class="card-content row">
        <span class="card-title lime-text">new droplet</span>
        <div class="input-field col s12">
            <input
                    type="text"
                    name="url"
                    id="droplet-url"
                    placeholder="a-square.eu/something-funny"
                    class="input white-text url-input"
            />
            <label for="droplet-url">url</label>
        </div>
    </form>
</section>