{{#layout}}
<div class="container">
    {{>droplet-form}}

    <ul class="section">
        {{#droplets.unread}}
            {{>droplet-item}}
        {{/droplets.unread}}
    </ul>
    <ul class="section is-read" data-list="read">
        {{#droplets.read}}
            {{>droplet-item}}
        {{/droplets.read}}
    </ul>
</div>
<footer class="page-footer blue-grey lighten-5 blue-grey-text">
    <div class="container">
        Icons made by
        <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
</footer>
{{/layout}}
{{>layout}}