<li class="card horizontal row">
    {{#imageUrl}}
        <div class="card-image col s4">
            <img
                    src="{{.}}"
                    onerror="this.onerror=null;this.src='./img/image-placeholder.png'"
                    class="url-image"
            />
        </div>
    {{/imageUrl}}
    <div class="card-stacked">
        <div class="card-content">
            <h4 class="card-title">{{title}}</h4>
            {{#description}}<p>{{.}}</p>{{/description}}
        </div>
        <div class="card-action">
            <a href="{{url}}">{{url}}</a>
        </div>
    </div>
</li>
