{{#layout}}
    <div class="container section">
        {{#groupCode}}
            <section class="card lime blue-grey-text text-darken-3">
                <div class="card-content">
                    <span class="card-title">welcome</span>
                    <p>
                        Looks like you're just about to start sharing droplets.
                        You can login as <span class="username">{{userName}}</span> with the following group code:
                    </p>
                    <h2 class="code-title">{{groupCode}}</h2>
                </div>
            </section>
        {{/groupCode}}
        <section class="card blue-grey darken-3 orange-text text-accent-2">
            <form action="/login" method="post" class="card-content row">
                <span class="card-title">login</span>
                <div class="input-field col s6">
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="little john"
                        class="input"
                        required="required"
                        autofocus
                    />
                    <label for="username">name</label>
                </div>
                <div class="input-field col s6">
                    <input
                        type="text"
                        name="password"
                        id="password"
                        placeholder="12345"
                        class="input"
                        required="required"
                    />
                    <label for="password">group code</label>
                </div>
                <input type="submit" class="hidden-submit-button" tabIndex="-1" />
            </form>
        </section>
    </div>
{{/layout}}
{{>layout}}