{{#layout}}
    <div class="container white">
        <h1 class="page-title orange-text accent-2">Login</h1>
        <section class="card blue-grey darken-4">
            <form action="/login" method="post" class="card-content row">
                <div class="input-field col s6">
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="little john"
                        class="input white-text"
                    />
                    <label for="username">name</label>
                </div>
                <div class="input-field col s6">
                    <input
                        type="text"
                        name="password"
                        id="password"
                        placeholder="12345"
                        class="input white-text"
                    />
                    <label for="password">group code</label>
                </div>
                <input type="submit" class="hidden-submit-button" />
            </form>
        </section>
    </div>
{{/layout}}
{{>layout}}